@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    background: #6900b5;
    color: white;
}

.texts-grade{
    background: linear-gradient(to bottom right, #6048C8, #32C3AE);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
   

   
}

.gradient-background {
    background: linear-gradient(to bottom right, #6048C8, #32C3AE);
 
}

