@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    background: #6900b5;
    color: white;
}

.texts-grade{
    background: linear-gradient(to bottom right, #6048C8, #32C3AE);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
   

   
}

.gradient-background {
    background: linear-gradient(to bottom right, #6048C8, #32C3AE);
 
}

/* RainingHearts.css */

@keyframes heartFall {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      transform: translateY(100vh);
      /* opacity: 1; */
    }
  }
  
  .heart {
    width: 200px;
    height: 200px;
    position: absolute;
    /* background: #ff4d6d; */
    /* border-radius: 50%; */
    animation: heartFall 3s linear infinite;
  }
  
  .heart-rain {
    position: fixed;
    top: 0px;
    left: -20px;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
    overflow: hidden;
  }
  
  /* Adjustments for full screen hearts */
  .heart-rain .heart {
    left: calc(100vw * var(--rand-x));
    animation-duration: calc(3s * var(--rand-duration)); /* Randomize duration */
  }
  
  /* Optional: Randomize the position and animation duration of each heart */
  .heart-rain .heart:nth-child(1) { --rand-x: 0.1; --rand-duration: 0.7; }
  .heart-rain .heart:nth-child(2) { --rand-x: 0.2; --rand-duration: 0.8; }
  .heart-rain .heart:nth-child(3) { --rand-x: 0.3; --rand-duration: 0.9; }
  .heart-rain .heart:nth-child(4) { --rand-x: 0.4; --rand-duration: 0.3; }
  .heart-rain .heart:nth-child(5) { --rand-x: 0.5; --rand-duration: 0.6; }
  .heart-rain .heart:nth-child(6) { --rand-x: 0.6; --rand-duration: 0.4; }
  .heart-rain .heart:nth-child(7) { --rand-x: 0.7; --rand-duration: 0.5; }
  .heart-rain .heart:nth-child(8) { --rand-x: 0.8; --rand-duration: 0.2; }
  .heart-rain .heart:nth-child(9) { --rand-x: 0.9; --rand-duration: 0.1; }
  /* Add more hearts and adjust their position and duration as needed */
  
